// All styles

// Header stuff
.admin-header-wrapper {
  background-color: #DEE0E2;
  height: 40px;
  text-align: right;
  font-size: 16px;
  width: 100%;
}

.admin-header-content {
  margin: auto;
  width: 100%;

  li {
    display: inline-block;
    margin-top: 6px;
    padding: 4px 10px;
    border-right: 1px solid #999;
  }

  li:last-child {
    border-right: none;
  }

}



// Wrapper stuff
.admin-wrapper {
  clear:both;
  width:100%;
  height: 100%;
  overflow:hidden;
  background-color: #F8F8F8;

    a {
      text-decoration: none;
      color: #000;
    }
}

// Sidebar

.admin-sidebar-wrapper {
  float:left;
  width: 15%;
  height: 100%;
  position:relative;

  /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 640px) {
     width: 100%;
     height: auto;
    }
}

// Sidebar stuff
.admin-sidebar-content {
  padding: 10px 0;
  height: 100%;

  li {
    margin: 10px 0;
  }

  li a {
    display: block;
    padding: 10px 0 10px 30px;
  }

  li.active a {
    background-color: #30A197;
    color: #fff;
  }
}

// Main content

.admin-content-wrapper {
  float: left;
  width: 84.85%;
  height: 100%;
  background: #fff;
  padding-bottom:1em;
  border-left: 1px solid #BFC1C3;

    @media only screen and (max-width : 640px) {
     width: 100%;
     border-top: 1px solid #BFC1C3;
    }
}

.admin-content {
  padding-left: 50px;

    @media only screen and (max-width : 640px) {
     padding: 20px;
    }
}


// Submenu stuff
.admin-submenu-container h1 {
  margin-bottom :10px;
}

.admin-submenu ul {
  border-bottom: 1px solid #999;
  margin-bottom: 50px;

    ul li {
      display: inline-block;
      padding: 20px 10px;
    }

    li:first-child {
      padding-left: 0;
    }

    li.active {
      -webkit-box-shadow: inset 0px -3px 0px 0px #30a197;
      -moz-box-shadow: inset 0px -3px 0px 0px #30a197;
      box-shadow: inset 0px -3px 0px 0px #30a197;
    }

    a {
      font-size: 16px;
    }
}


body, html { height: 100%; }
